---
    extends: "page.html"
    title: "About"
    created: 2013-04-14 00:25:00
---
{% block content %}
<div class="row">
<h2>Contact Details Of The Belgian Spaces.</h2>
{% for node in node.walk() %}
    {% if node.relative_path == "spaces" %}
        {% for post in node.walk_resources()  %}
            {% if not post.listing and not post.exclude %}

			<h4><a href="{{ post.relative_path }}">{{ post.meta.title }}</a></h4>
				<ul>
				<li><strong>Location:</strong> <a href="https://maps.google.com/?q={{ post.meta.location }}">{{ post.meta.location }}</a></li>
				<li><strong>Email:</strong> {{ post.meta.contact }}</li>
				<li><strong>Irc:</strong> {{ post.meta.irc }}</li>
				<li><strong>Website:</strong> <a href="{{ post.meta.site }}" title="{{ post.meta.title }} homepage">{{ post.meta.site }}</a></li>
				</ul>

	{% endif %}
	{% endfor %}
{% endif %}
{% endfor %}
</div>


{% endblock %}
