{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span6">
{% for node in page.node.walk %}
{% if node.name == "posts" %}
	{% for post in node.walk_pages  %}
	{% if not post.listing and not post.exclude %}
	{% if forloop.first %}
			<h2>{{ post.title }}</h2>
			<abbr>Posted on {{ post.created|date:"D, N j Y" }}</abbr>
			<!--
				{% render_excerpt post %}
				<a href="{{ post.url }}">Read more</a>
			-->
			{% render_article post %}
			<p><a href="{{ post.url }}">#</a></p>
			<hr />
			Previous posts:
		{% else %}
			<p>{{ post.created|date:"Y-m-d" }} - <a href="{{ post.url }}">{{ post.title }}</a> 
			{% if post.abstract %}
			: <i> {{ post.abstract }} </i>
			{% endif %}
			</p>
		{% endif %}
	{% endif %}
	{% endfor %}
{% endif %}
{% endfor %}
</div>
<div class="span6">
<object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dhsbxl&page_show_back_url=%2Fsearch%2F%3Fq%3Dhsbxl&method=flickr.photos.search&api_params_str=&api_text=hsbxl&api_tag_mode=bool&api_media=all&api_sort=relevance&jump_to=&start_index=0"></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dhsbxl&page_show_back_url=%2Fsearch%2F%3Fq%3Dhsbxl&method=flickr.photos.search&api_params_str=&api_text=hsbxl&api_tag_mode=bool&api_media=all&api_sort=relevance&jump_to=&start_index=0" width="400" height="300"></embed></object>
</div>
</div>
{% endblock %}
