<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{% block title %}{{ resource.meta.title }}{% endblock %} - Hackerspaces.be</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<base href="/">
	<link rel="alternate" type="application/rss+xml" title="Hackerspaces Belgium" href="https://github.com/0x20/hackerspaces.be/commits/master.atom" />
    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <link href="../media/css/custom.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../media/img/favicon.ico">
 </head>

  <body>
  <div class="container">

		{% include "nav.html" %}



		{% block content %}

		{% endblock %}



 </div>
      <hr>

      <footer>
			<!--- creativecommons -->
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
				<img alt="Creative Commons License" style="border-width:0" src="../media/img/cc.png" title="This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License"/>
			</a>
			<!--- cornify -->
			<a href="https://www.cornify.com" onclick="cornify_add();return false;">
				<img src="https://www.cornify.com/assets/cornify.gif" width="61" height="16" border="0" alt="Cornify" /></a>
				<script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>
			<!--- rss/atom -->
			<a href="https://github.com/0x20/hackerspaces.be/commits/master.atom">
				<img alt="Atom Feed" style="border-width:0" src="../media/img/rss.png" title="Rss Feed For Your Convenience"/></a>
			</a>
			<!--- GitHub -->
			<a href="https://github.com/0x20/hackerspaces.be">
				<img alt="Atom Feed" style="border-width:0" src="../media/img/gh.png" title="Follow this on github"/></a>
			</a>
      </footer>

    </div> <!-- /container -->

  	{% include "analytics.html" %}

  </body>
</html>
