<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ resource.meta.title }}{% endblock %} - Hackespaces.be</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="media/3party/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-cogs"></i>  <span class="light">Hackerspaces</span>.be
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#hackerspace">Hackerspace?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#belgium">Spaces in Belgium</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#agenda">Agenda</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro fullscreen">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="" style="text-align: center">
                        <h1 class="brand-heading">Hackerspace.be</h1>
                        <p class="intro-text">A hackerspace is a community-operated physical space where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialise and/or collaborate.</p>
                        <div class="page-scroll">
                            <a href="#hackerspace" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="hackerspace" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hackerspace?</h2>
                <p>A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated physical space where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialise and/or collaborate.</p>

                <p>Hackerspaces can be viewed as open community labs incorporating elements of machine shops, workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.</p>

                <p>Many hackerspaces participate in the use and development of free software, open hardware, and alternative media.</p>
            </div>
        </div>
    </section>

    <section id="belgium" class="content-section text-center">
        <div class="map-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Spaces in Belgium</h2>
                    <p class="bg-white">There are more and more hackerspaces in Belgium every year!<br>
                        There is one near you !</p>
                    <a href="spaces.html" class="btn btn-default btn-white btn-lg">
                        <i class="fa fa-flask"></i> Show me the list
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>
                    This site aims to provide a list of hacker/maker/.../spaces in Belgium.<br>
                    If you want to add your space fork the <a href="https://github.com/0x20/hackerspaces.be"> GitHub Repo</a> and send a pull request.
                </p>
                <h2>Contact</h2>
                <p>
                    Different spaces have their own lists, but the general cross-space list is:
                    "42 For the answers to life, the universe and everything..."<br>
                    You can <a href="http://discuss.hackerspaces.be/listinfo.cgi/42-hackerspaces.be">subscribe here</a> for any technical or other questions.
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://github.com/0x20/hackerspaces.be" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li><a href="http://discuss.hackerspaces.be/listinfo.cgi/42-hackerspaces.be" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Mailing-list</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="agenda" class="content-section text-center">
        <div class="hackeragenda-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><br><br><br></p>
                    <a href="http://hackeragenda.be/" class="btn btn-default btn-white btn-fat btn-lg">
                        <i class="fa fa-calendar"></i> All hacker events in belgium
                    </a>
                </div>
            </div>
        </div>
    </section>

     <section id="own" class="content-section text-center">
        <div class="own-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>More hackerspaces!</h2>
                    <p>There isin't a space near you ? You want to create your own space ?</p>
                    <p>Here are some helpful ressources :<br>
                        <a href="http://hackerspaces.org/">hackerspaces.org</a>,
                        <a href="http://hackerspaces.org/images/8/8e/Hacker-Space-Design-Patterns.pdf">Hackerspace design-patterns</a>,
                        <a href="https://www.youtube.com/watch?v=WkiX7R1-kaY">TED Talk</a>
                    </p>
                    <p>
                        And don't forget to announce it on the <a href="http://discuss.hackerspaces.be/listinfo.cgi/42-hackerspaces.be">general mailing list</a>.
                    </p>
            </div>
        </div>
    </section>

    <section id="end-page">
    </section>


    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="media/3party/js/grayscale.js"></script>

</body>

</html>
