<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %} - Hackespaces.be</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <base href="/">
  <link rel="alternate" type="application/rss+xml" title="Hackerspaces Belgium" href="https://github.com/0x20/hackerspaces.be/commits/master.atom" />

  <link href="../media/css/bootstrap.css" rel="stylesheet">
  <link href="../media/css/custom.css" rel="stylesheet">
  <link href="./css/bootstrap-responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="../media/img/favicon.ico">
</head>

<body>
  {% include "nav.html" %}
  <div class="container">
    {% block fullpage %}
      <div class="span7">
        {% block content %}
        {% endblock %}
      </div>
      <div class="span4">
        {% block sidebar %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>

  <footer class="span12">
    <hr>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
      <img alt="Creative Commons License" style="border-width:0" src="../media/img/cc.png" title="This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License"/>
    </a>

    <a href="http://www.cornify.com" onclick="cornify_add();return false;">
      <img src="http://www.cornify.com/assets/cornify.gif" width="61" height="16" border="0" alt="Cornify" />
    </a>

    <a href="https://github.com/0x20/hackerspaces.be/commits/master.atom">
      <img alt="Atom Feed" style="border-width:0" src="../media/img/rss.png" title="Rss Feed For Your Convenience">
    </a>

    <a href="https://github.com/0x20/hackerspaces.be">
      <img alt="Atom Feed" style="border-width:0" src="../media/img/gh.png" title="Follow this on github"/>
    </a>
  </footer>

  {% include "analytics.html" %}
  <script type="text/javascript" src="http://www.cornify.com/js/cornify.js">
  </script>

  </body>
</html>
