{% extends "page.html" %}
{% hyde
title: "BHackspace"
site : "http://wiki.bhackspace.be/"
city: "Bastogne"
Location: "Bastogne"
Contact: "contact@bhackspace.be"
irc:"#bhackspace on irc.geeknode.org"
%}

{% block article %}
{% excerpt %}
{% endexcerpt %}
{% article %}
{% markdown %}
The BHackspace is a hackerspace located in Bastogne, Belgium.
.

* Location: We meet every third friday of the month but we are looking for a new place so we can meet more often/freely.
* Site: [wiki.bhackspace.be](http://wiki.bhackspace.be/")
{% endmarkdown %}
{% endarticle %}
{% endblock %}
																										

