{% extends "page.html" %}
{% hyde
title: "Hackerspace Brussels"
site : "http://www.hackerspace.be/"
location: "St-Joost-ten-Noode"
Contact: "contact@hackerspace.be"
%}

{% block article %}
{% excerpt %}
{% endexcerpt %}
{% article %}
{% markdown %}
#About HSBXL

Hacker Space Brussels (HSBXL) is a space, dedicated to various aspects of constructive & creative hacking, located in St-Josse. The space is about 100 square meters, there is a little electronics lab with over 9000 components, a library,and lots of tools. You're always welcome to follow one of the workshops or come to the weekly Tuesday meetings, hack nights or other get-together events.
We are moving

The city of Scha{a,e}rbeek has graciously allowed us to stay at the garage for almost 2 years, but this location has another long term destination. So we have to move before the 1st of may.

We have found another location at [rue moulin 40 molenstraat, 1210 St-Joost-ten-Noode, Brussels, Belgium](http://goo.gl/maps/hkRPE), and we are calling it HSBng, more info on this location on it's page
There is still a lot to be done at this location, so if you feel like helping, please let us know.

{% endmarkdown %}
{% endarticle %}
{% endblock %}
																										

