{% extends "page.html" %}
{% hyde
title: "OpenGarage"
site : "http://www.meetup.com/OpenGarage/"
city: "Borsbeek"
Location: "Floris Primslei 14, 2150 Borsbeek"
Contact: "@aliekens"
irc:""
%}

{% block article %}
{% excerpt %}
{% endexcerpt %}
{% article %}
{% markdown %}
The Open Garage is not a hackerspace in its pure essence, but a privately owned garage that opens every Thursday evening for everyone who wants to use the available infrastructure.
We're usually a few nerds playing with electronics, 3d printers, CNC machinery, and have many various ongoing projects.
Everyone who wants to be excellent to the rest of us there, feel free to join in and meet up at http://meetup.com/OpenGarage
Contact [@aliekens](https://twitter.com/aliekens) for details (address) or follow him on Twitter for announcements.

* Adress: [Floris Primslei 14, 2150 Borsbeek](http://goo.gl/maps/6jV8r)
* Site: [meetup.com/OpenGarage](http://www.meetup.com/OpenGarage/)
{% endmarkdown %}
{% endarticle %}
{% endblock %}
																										

