{% extends "page.html" %}
{% hyde
title: "Realize"
site : "http://realizebxl.be/"
location: "Saint-Gilles"
%}

{% block article %}
{% excerpt %}
Testikng one two tree. 
{% endexcerpt %}
{% article %}
{% markdown %}
Realize together an open community, a place and an atmosphere conducive to the emergence and especially the realization of ideas. To do this, we apply the following recipe:


1. form a creative pool where everyone pushes and motivates the rest of the group
2. pooling knowledge and talents of each
3. invest jointly in material creation would be beyond the reach of each one individually.
4. share this commitment to achieving at workshops, conferences and open houses.

Location: [32 rue Metal, 1060 Saint-Gilles](http://goo.gl/maps/90Re6)

{% endmarkdown %}
{% endarticle %}
{% endblock %}