{% extends "page.html" %}
{% hyde
title: "UrLab"
site: "http://urlab.be/"
city: "Brussels"
location: "Avenue Buyl 131, 1050 Brussels"
contact: "@UrLabBxl"
irc: "irc.freenode.net#urlab"
%}

{% block article %}
{% excerpt %}
{% endexcerpt %}
{% article %}
{% markdown %}
UrLab is the hackerspace of the [University Libre de Bruxelles](http://ulb.ac.be). It was founded in the beginning of 2012 by students of many different backgrounds with the idea of bringing the hacker culture to their fellow ULB students.

UrLab is open to everyone, not only to students. We meet every Wednesday evening, feel free to come and hack with us! We put an emphasize on sharing, good atmosphere and openess. [Here is a list of the current projects](http://urlab.be/Incubateur_%C3%A0_projet). We also organize conference sessions called "SmartMonday" each first Monday of the month: they consist of a serie of short talks on technology, hacking, society or anything that sounds cool. The members are mostly French-speaking, but some people are fluent in English; there is no language discrimination, except maybe against PHP (:p).

UrLab seems to have a strange obsession with rainbows and poneys, probably because they are awesome!

Next events : 

* [Workshop Git](http://urlab.be/Evenement:Workshop_Git) 17 April 2013 18:30:00
* [Initiation Raspberry Pi](http://urlab.be/Evenement:Initiation_Raspberry_Pi)  22 April 2013 18:00:00

location: [Avenue Buyl, 131 1050 Brussels](http://www.openstreetmap.org/?lat=50.812924&lon=4.384506&zoom=18&layers=M)

We are moslty active on IRC -Freenode network. Join us on [#urlab](irc://chat.freenode.net/#urlab)

Website: (http://www.urlab.be)

Mailing list: (http://www.cerkinfo.be/cgi-bin/mailman/listinfo/hackulb)

Twitter : (https://twitter.com/UrLabBxl)

Youtube : (https://www.youtube.com/user/Urlabbxl)
{% endmarkdown %}
{% endarticle %}
{% endblock %}
																										

