{% extends "page.html" %}
{% hyde
title: "Voidwarranties"
site : "http://we.voidwarranties.be/"
city: "Deurne"
Location: "Herrystraat 22, 2100 Deurne (Antwerpen)"
Contact: "@voidwarranties"
irc:"#voidwarranties on freenode"
%}

{% block article %}
{% excerpt %}
{% endexcerpt %}
{% article %}
{% markdown %}
It is a location where people with common interests, usually in science, technology, digital or electronic art can meet, socialise and collaborate. A hackerspace can be viewed as an open community lab, workbench, machine shop, workshop and/or studio where people of diverse backgrounds can come together to share resources and knowledge to build/make things. Voidwarranties functions as center for peer learning and knowledge sharing, in the form workshops, presentations, and lectures. We also provide space for members to work on their individual projects, or collaborate on group projects with other members

* Location: [Herrystraat 22, 2100 Deurne (Antwerpen)](http://maps.google.be/maps/ms?ie=UTF8&msa=0&msid=112779222059309009671.00048cc576ab576f74c12&ll=51.208927,4.45487&spn=0.010781,0.033023&z=16&lci=com.google.webcams)
* Site: [we.voidwarranties.be](http://we.voidwarranties.be/)
{% endmarkdown %}
{% endarticle %}
{% endblock %}
																										

